body {
    margin: 0;
    font-family: "Gill Sans MT Ext Condensed Bold", "Calibri", "Trebuchet MS", sans-serif;
  }
  
  .header {
    color: white;
    background-color: #912338;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.stuprofile {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.backhub {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.backhub:hover {
    color: rgb(204, 204, 204)
}

.personal-info {
    width: 70%;
    margin: auto;
    background-color: white;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 1px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}
.academic-info {
    width: 70%;
    margin: auto;
    background-color: white;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 1px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}
.enrollment-info {
    width: 70%;
    margin: auto;
    background-color: white;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 1px;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}
.payment-info {
    width: 70%;
    margin: auto;
    background-color: white;
    outline-style: solid;
    outline-color: lightgray;
    outline-width: 1px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a p{
    color: #912338;
    font-weight: bold;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.button button:hover{
    background-color: #872424;
}
.button button{
    color: white;
    background-color: #912338;
    padding: 7px;
    width: 10%;
    border-radius: 5px;
}