body {
    margin: 0;
    font-family: "Gill Sans MT Ext Condensed Bold", "Calibri", "Trebuchet MS", sans-serif;
}

.header {
    color: white;
    background-color: #912338;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 4em;
    font-weight: bold;
}

.coursemanagement {
    width: 70%;
    margin: auto;
}

.course-overview{
    width: 70%;
    margin: auto;
}
.course-grid{
    width: 70%;
    background-color: white;
    outline: lightgray solid 1px;
    border-radius: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.course-grid h2 {
    margin: 20px;
    display: flex;
}

.course-box
{
    min-width: 400px;
    max-width: 400px;
    height:250px;
    background-color: white;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    outline : none;
    overflow: hidden;
    cursor: pointer;
    font-size: large;
}
.course-box img{
    height: 100%;
    width: 100%;
    object-fit: fill ;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}
a p {
    color: #912338;
    font-weight: bold;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 70%;
    margin: auto;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: none;
    margin: auto;
    width: 70%;
    border: 1px solid #ccc;
    border-top: none;
    box-sizing: border-box;
    padding: 20px;
}

.form-group{
    margin-bottom: 10px;
}

select {
    width: 100px;
    margin-bottom: 10px;
}

.admindash {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

.logout {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.logout:hover {
    color: rgb(204, 204, 204)
}

.button {
    margin-top: 20px;
    width: 100%;
}
.button button:hover{
    background-color: #872424;
}
.button button{
    font-size: 16px;
    color: white;
    background-color: #912338;
    padding: 7px;
    width: 20%;
    border-radius: 5px;
}